@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BurialsViewModel

<table class="table text-white" style="background: rgba(0, 0, 0, 0.4);">
    <thead>
        <tr>
            <th>ID</th>
            <th>Color ID</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.TextileColors)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Colorid
                <td>@b.Value</td>
            </tr>
        }
    </tbody>
</table>