@using Microsoft.AspNetCore.Http.Features

@{ var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
                var showBanner = !consentFeature?.CanTrack ?? false;
                var cookieString = consentFeature?.CreateConsentCookie(); }

@if (showBanner)
{

<div id="cookieConsent" class="cookie-consent-popup">
    <div class="cookie-consent-content">
        <div style="width: 100vw; margin-right: 35px;">
            <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <p>This website uses cookies to ensure you get the best experience on our website. By using our site, you acknowledge that you have read and understand our <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> and <a asp-area="" asp-controller="Home" asp-action="Privacy">Cookie Policy</a>.</p>
        <button id="cookie-consent-ok" class="cookie-consent-ok btn btn-primary mt-3">Accept</button>
        <a href="https://gdpr.eu/cookies/" class="cookie-consent-learn-more" target="_blank">Learn More</a>
    </div>
</div>
<script>
    (function () {
        var button = document.querySelector("#cookieConsent button[data-cookie-string]");
        button.addEventListener("click", function (event) {
            document.cookie = button.dataset.cookieString;
        }, false);
    })();
</script>
<script>
    (function () {
        var button = document.querySelector("#cookieConsent button.close");
        var popup = document.querySelector("#cookieConsent");
        button.addEventListener("click", function (event) {
            popup.style.display = "none";
        }, false);
    })();
</script>
}