@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Burials" asp-route-area="" class="btn btn-outline-secondary">Home</a>
    <br />
    @foreach (string t in Model)
    {
        
        <br />
    }
</div>