@{
    var prediction = ViewBag.Prediction as Prediction;
}
<center>
    <div class="card text-white bg-info mb-3" style="max-width: 50rem;">
        <form class="row g-3" method="post" asp-action="Supervised">
            <h1 class="card-header">Predict Wrapping of Burial</h1>
            <div class="card-body">
                <p>The more data you enter the more accurate the prediction will be.</p>
                @if (prediction != null)
                {
                    <h3 class="card-title" style="font-weight:bold;">Your Prediction is: @prediction.PredictedValue</h3>
                }
                else
                {
                    <p></p>
                }
                <div class="col-md-4">
                    <label for="SquareNorthSouth" class="form-label">Square North/South Value:</label>
                    <input type="number" class="form-control" id="SquareNorthSouth" name="SquareNorthSouth">
                </div>
                <div class="col-md-4">
                    <label for="SquareEastwest" class="form-label">Square East/West Value:</label>
                    <input type="number" class="form-control" id="SquareEastwest" name="SquareEastwest">
                </div>
                <div class="col-md-4">
                    <label for="Depth" class="form-label">Depth Value:</label>
                    <input type="number" class="form-control" id="Depth" name="Depth">
                </div>
                <div class="col-md-4">
                    <label for="FieldbookExcavationYear" class="form-label">What was the Fieldbook Excavation Year?</label>
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend2"></span>
                        <input type="number" class="form-control" id="FieldbookExcavationYear" name="FieldbookExcavationYear" aria-describedby="inputGroupPrepend2">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FieldbookPage" class="form-label">What was the Fieldbook Page?</label>
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend2"></span>
                        <input type="number" class="form-control" id="FieldbookPage" name="FieldbookPage" aria-describedby="inputGroupPrepend2">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="Length" class="form-label">Length</label>
                    <input type="number" class="form-control" id="Length" name="Length">
                </div>
                <div class="col-md-3">
                    <label for="HeadDirection_E" class="form-label">Head Direction</label>
                    <select class="form-select" id="HeadDirection_E" name="HeadDirection_E">
                        <option value="">...</option>
                        <option value="1">East</option>
                        <option value="2">West</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="WestToFeet" class="form-label">West To Feet Value?</label>
                    <input type="number" class="form-control" id="WestToFeet" name="WestToFeet">
                </div>
                <div class="col-md-6">
                    <label for="SouthToFeet" class="form-label">South To Feet Value?</label>
                    <input type="number" class="form-control" id="SouthToFeet" name="SouthToFeet">
                </div>
                <div class="col-md-3">
                    <label for="NorthSouth_N" class="form-label">North or South?</label>
                    <select class="form-select" id="NorthSouth_N" name="NorthSouth_N">
                        <option value="">...</option>
                        <option value="1">North</option>
                        <option value="2">South</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="EastWest_E" class="form-label">East or West?</label>
                    <select class="form-select" id="EastWest_E" name="EastWest_E">
                        <option value="">...</option>
                        <option value="1">East</option>
                        <option value="2">West</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="AdultSubAdult_A" class="form-label">Adult or Subadult?</label>
                    <select class="form-select" id="AdultSubAdult_A" name="AdultSubAdult_A">
                        <option value="">...</option>
                        <option value="1">Adult</option>
                        <option value="0">Subadult</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="BurialNumber" class="form-label">What was the Burial Number?</label>
                    <input type="number" class="form-control" id="BurialNumber" name="BurialNumber">
                </div>
                <div class="col-md-3">
                    <label for="SamplesCollected_True" class="form-label">Were samples collected?</label>
                    <select class="form-select" id="SamplesCollected_True" name="SamplesCollected_True">
                        <option value="">...</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                        <option value="3">Other</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="Area_NE" class="form-label">What is the area direction?</label>
                    <select class="form-select" id="Area_NE" name="Area_NE">
                        <option value="">...</option>
                        <option value="1">Northeast</option>
                        <option value="2">Northwest</option>
                        <option value="3">Southeast </option>
                        <option value="4">Southwest</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="AgeAtDeath_A" class="form-label">What was the age at death?</label>
                    <select class="form-select" id="AgeAtDeath_A" name="AgeAtDeath_A">
                        <option value="">...</option>
                        <option value="1">Adult</option>
                        <option value="2">Child</option>
                        <option value="3">Infant </option>
                        <option value="4">Newborn</option>
                        <option value="5">Other</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="SouthToHead" class="form-label">South To Head Value?</label>
                    <input type="number" class="form-control" id="SouthToHead" name="SouthToHead">
                </div>
                <div class="col-md-3">
                    <label for="WestToHead" class="form-label">West To Head Value?</label>
                    <input type="number" class="form-control" id="WestToHead" name="WestToHead">
                </div>
                <br />
                <div class="col-12">
                    <button class="btn btn-light" type="submit">Submit form</button>
                </div>
            </div>
        </form>
    </div>
</center>