@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Microsoft.AspNetCore.Identity.IdentityUser>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>UserName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</body>